<h1>AJAX Atomics - 02</h1>

<script type="text/javascript" src="/global.js"></script>

<h3>What is the difference between this atomic and the first atomic?</h3>
<p>In this Atomic, we had route handlers specifically set in our app.rb.  Because of this, we didn't have the public files we had in Atomic 1. This caused me a bit of confusion before I actually opened app.rb... yes, I know... lol :)</p>